@charset "ISO-8859-1";
*{
    box-sizing: border-box;

}
body{
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:22px;


}
#myvideo{
    position: fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:0%;

x
#mybtn{
    width:50px;
    font-size:18px;
    pading:0px;
    border:curve;
    background:#000;
    color:#fff;
    cursor:pointer;
}
#mybtn:hover{
    background:#ddd;
    color:blue;
}
.set{
	height:100%;
}

.ul{
    list-style-type:none;
    margin-top:0px;
    height:50px;
    padding:0px;
    overflow:hidden;
    background-color :black;
    
}
.li{
    float:right;
}

.li a {
    display:block;
    color:white;
    height:0px;
    text-align:center;
    padding:15px 15px;
    text-decoration:none;

}
.li a:hover{
        background-color:greenyellow:
}
